@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
html{
    scroll-behavior: smooth;
}

/* header section style start  */
#header{
    width: 100%;
    background-color: #0B0D17;
}
.container{
    width: 90%;
    margin: 0 auto;
}
.menu-bar{
    display: flex;
}
.logo{
    width: 40%;
}
.logo a{
    text-decoration: none;
}
.logo a h1{
    color: #fff;
    font-size: 30px;
    padding: 10px 0;
}
.logo a h1 span{
    color: #FB974C;
}
.nav-bar{
    width: 60%;
}
.nav-bar ul{
    display: flex;
    padding: 20px;
    justify-content: flex-end;
}
.nav-bar ul li{
    margin: 0 10px;
    list-style: none;
}
.nav-bar ul li a{
    text-decoration: none;
    color: #ddd;
    padding: 5px 10px;
    transition: .5s;
}
.nav-bar ul li a:hover{
    background-color: #FB974C;
    color: #fff;
    border-radius: 5px;
}
/* header section style end  */

/* bennar section style start */
.bennar{
    padding: 40px 0;
}
.flex-box{
    display: flex;
    padding: 0 20px;
}
.text-box{
    width: 50%;
}
.text-box h1{
    text-transform: capitalize;
    margin-top: 40px;
    font-size: 40px;
}
.text-box h1 span{
    color: #FE4A2E;
}
.text-box p{
    color: #888;
    text-align: justify;
    line-height: 2;
    margin-bottom: 20px;
}
.btn{
    text-decoration: none;
    border: none;
    outline: none;
    background: linear-gradient(20deg,#FB974C, #FE4A2E);
    font-size: 20px;
    padding: 10px 20px;
    color: #fff;
    cursor: pointer;
    transition: .5s;
    border-radius: 6px;
}
.img-box{
    width: 50%;
    display: flex;
    justify-content: center;
}
.img-box img{
    width: 70%;
}
/* bennar section style end */

/* about section style start */
#about{
    background: url(img/main-bg.png);
    background-repeat: no-repeat;
    padding-top: 60px;
}
.abt-text p{
    margin: 20px 0 60px 0;
}
/* about section style end */

/* food section style start */
#food{
    padding: 40px 0;
}
.food-title{
    text-align: center;
    padding: 20px;
}
.food-title h1{
    font-size: 40px;
    line-height: 3;
}
.food-title p{
    color: #777;
    margin-bottom: 30px;
}
.flex-item{
    width: 30%;
    margin-right: 3%;
}
.recipi-box{
    width: 90%;
    margin: 0 auto;
    box-shadow: 2px 2px 10px #999;
    padding: 20px;
    border-radius: 20px;
}
.recipi-img{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 250px;
}
.recipi-img img{
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 20px;
}
.recipi-txt{
    padding: 10px 0;
}
.recipi-txt h2{
    line-height: 3;
}
.recipi-txt p{
    text-align: justify;
    font-size: 15px;
    color: #777;
}
/* food section style end */

/* customer section style start here */
#customer{
    background: url(img/main-bg.png);
    padding: 40px 0;
    margin: 40px 0;
}
.title{
    text-align: center;
    line-height: 3;
}
.title h1{
    text-transform: capitalize;
    font-size: 40px;
    margin-bottom: 60px;
}
.title h1 span{
    color: #FE4A2E;
}
.fedback{
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px #999;
}
.fedback h2{
    font-size: 20px;
    line-height: 2;
    word-spacing: 10px;
}
.fedback span{
    font-size: 12px;
    color: #666;
    line-height: 3;
}
.fedback p{
    text-align: justify;
    line-height: 1.8;
    color: #333;
    font-size: 15px;
}
.fedback p span{
    font-size: 20px;
    line-height: 0;
}
/* customer section style end here */

/* milestone section */
#milestone {
    margin: 40px 0;
    padding: 40px 0;
}
.milestone-container{
    box-shadow: 2px 2px 10px #999;
    padding: 40px;
    border-radius: 10px;
}

.milestone-txt {
    text-align: center;
}

h2 {
    font-size: 40px;
    line-height: 2;
}
/* milestone section */

/* contact section style start here */
.form h2{
    text-transform: capitalize;
    font-size: 34px;
    line-height: 2;
    padding-top: 80px;
}
.form p{
    font-size: 20px;
    letter-spacing: .4px;
    word-spacing: 10px;
    line-height: 2;
}
.form input{
    display: block;
    margin: 20px 0;
    border-radius: 5px;
    border: 2px solid;
    border-image: linear-gradient(45deg,lightsalmon, tomato);
    border-image-slice: 1;
    font-size: 16px;
    padding: 10px 20px;
}
/* contact section style end here */

/* footer section */
#footer{
    background-color: #0B0D17;
    padding: 20px;
    text-align: center;
}
#footer h2{
    line-height: 2;
    font-size: 30px;
    color: #fff;
}
#footer h2 span{
    color: #FB974C;
}
#footer p{
    color: #ddd;
}
/* footer section */